<div id="toggle-animation" class="hidden-on-mobile">
  <label class="switch">
    <input type="checkbox" id="doAnimate" />
    <span class="slider round"></span>
    <span class="label-text">Animate (CPU++)</span>
  </label>
</div>