<nav>
  <ul>
    <li><a href="/" {{#ifCond name '===' 'index' }}class="active" {{/ifCond}}>Home</a></li>
    <li><a href="/cellular_automata.html" {{#ifCond name '===' 'automata' }}class="active" {{/ifCond}}>Cellular
        Automata</a></li>
  </ul>
</nav>