body {
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e89005;
  font-family: "Rubik", sans-serif;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center center;
  transition: transform 5s;
  opacity: 100;
}

.fadeIn {
  animation: fadeIn 1200ms linear 1 forwards;
}

.fadeOut {
  animation: fadeOut 1000ms linear 1 backwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}

#overlay {
  position: absolute;
  border-radius: 10px;
  text-align: center;
  width: 60%;
  color: white;
  font-size: 110%;
}

#overlay h1,
#overlay p {
  background-color: rgba(0, 0, 0, 0.1);
  display: inline;
  padding: 0;
  line-height: 1.4em;
  padding: 0 5px;
}

#overlay div {
  margin: 30px 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #222;
  font-weight: 500;
}

#toggle-animation {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-flex;
  width: 60px;
  height: 34px;
  flex-direction: row-reverse;
  align-items: center;
}

.switch .label-text {
  margin-right: 60px;
  display: flex;
  align-items: center;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
